
<div class="errors">
	<% if @article.errors.any? %>
		<h2>the following errors have been addressed</h2>
		<ul>
			<% @article.errors.full_messages.each do|msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
</div>
<div class="row">
	<div class="col-xs-12">
		<%= form_for @article do |f| %>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :title %>
				</div>
				<div class="col-sm-8">
					<%= f.text_field :title, class: "form-control", placeholder: "giva a title to your ideas", autofocus: true %>
				</div>
			</div>
			<br><br><br><br>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :description %>
				</div>
				<div class="col-sm-8">
					<%= f.text_area :description,rows: 8, class: "form-control", placeholder: "give body to your ideas" %>
				</div>
			</div>

			 <div class="form-group">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-8">
						<%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
								<%= cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
						<% end %>
						
					</div>
				</div>
			</div>
			<br><br><br><br>
			<p style="margin-left:500px">
				<%= f.submit class: 'btn btn-primary btn-lg'%>
			</p>
		<% end %>
	</div>
</div>

	

	

	