<!-- <h1>listing all the articles</h1>
<% @articles.each do |article| %>
	<p>TITLE:<%= article.title %></p>
	<p>DESCRIPTION:<%= article.description %></p>
	<p>ARTICLE NO.:<%= article.id %></p>
	<%= link_to "edit this article", edit_article_path(article) %><br>
	<%= link_to "destroy this article",article_path(article),method: :delete , data: {confirm: "ARE YOU SURE dear USER"} %><br>
	<%= link_to "show this article", article_path(article) %>
	<br>
	<br>
<% end %> --> 
<h1 class="center">listing all the articles</h1>
<br><br>
<%= render 'article',obj: @articles %>


 