
<h2 align="center">Title:<%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
	<h4 class="center description"><strong>Description:</strong></h4>
	<hr>
		<%= simple_format(@article.description) %>
		<% if @article.categories.any? %>
		<p>Categories: <%= render '/categories/category' %></p>
		<% end %>
		<div class="article_actions">
			<% if logged_in && current_user == @article.user %>
				<%= link_to "edit this article", edit_article_path(@article),class:"btn btn-xs btn-primary"%>
				<%= link_to "delete this article", article_path(@article),method: :delete,data:{confirm:"are you sure?"},class:"btn btn-xs btn-danger"%>
			<% end %>

				<%= link_to "go back to articles page" , articles_path, class:"btn btn-xs btn-success" %>
				<% unless current_user.likes.where(article_id: @article.id).length>0 %>
                <%= link_to "upvote" , url_for(controller: :users ,action: :likes, article_id: @article.id), method: :post , class: 'btn btn-primary btn-xs' %>
                <% else %>
                <%= link_to "downvote" , url_for(controller: :users ,action: :likes, article_id: @article.id), method: :post , class: 'btn btn-warning btn-xs' %>
                <% end %>
                </div>
				</div>
				
				<div class="center">
				<h4>this article is liked by following users</h4>
                <% @users.each do |user| %>
                <% if User.find(user.user_id) != current_user %>
                <%= link_to User.find(user.user_id).username , user_path(User.find(user.user_id)) %><br>
                <% end %>
                <% end %>
                </div>
				
			
		

		




		
    
    








